<mat-spinner *ngIf="isLoading"></mat-spinner>
<h1>123</h1>
<mat-accordion multi="true" *ngIf="profile && !isLoading">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            {{ profile.dob }}
        </mat-expansion-panel-header>
        <p>{{ profile.contact }}</p>
        <mat-action-row *ngIf="userIsAuthenticated && userId === profile.id">
            <a mat-button color="primary" [routerLink]="['/edit', profile.id]">EDIT</a>
            <button mat-button color="warn" (click)="onDelete(profile.id)">DELETE</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="profile && !isLoading">No posts added yet!</p>